html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
}

section {
  padding: 100px 0;
  background: #122e44;
}
.section_title {
  margin-top: 30px;
}
.section_title h2 {
  position: relative;
  text-align: center;
  color: #fff;
  font-size: 30px;
  transition: all 0.05 ease-in-out;
}
.section_title h2:hover {
  background-color: #24caac;
}

/*....... HEADER........ */
header {
  background-color: rgb(44, 37, 37);
  border-bottom: 1px solid rgb(238, 238, 238, 0.801);
  position: fixed;
  width: 100%;
  z-index: 5;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  padding: 10px 0;
}
.nav_links {
  display: flex;
}
.nav_links li a {
  margin-left: 15px;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  transition: all 0.5 ease-in-out;
}
.nav_links li a:hover {
  background-color: #24cacc;
}
.loga h2 a {
  color: #fff;
  text-transform: uppercase;
}

/*  ANASAYFA */
.inner_anasayfa {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
  color: #fff;
}
.child_anasayfa {
  flex-basis: 45%;
}
.child_anasayfa h1 {
  font-size: 50px;
  color: #24caac;
}
.span_child {
  color: #e0376f;
}
.child_anasayfa p {
  font-size: 25px;
  margin-bottom: 12px;
}
.btn {
  background-color: #24caac;
  padding: 12px 28px;
  border-radius: 20px;
  color: #fff;
  border: 1px solid #24caac;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3 ease;
}
.btn:hover {
  background: transparent;
  letter-spacing: 2px;
}
/* YAZILIMLAR */
.innersoftware {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  margin: 0 auto;
}
.innersoftware_child {
  flex-basis: 31%;
  color: #fff;
  padding: 25px 20px;
  background: rgb(55, 66, 80, 0.281);
  border-radius: 5px;
  border: 1px solid transparent;
  transition: all 0.5 ease-in-out;
}
.innersoftware_child:hover {
  border: 1px solid #24caac;
}
.innersoftware_child .icon {
  font-size: 25px;
  color: #24caac;
}
.innersoftware_child h3 {
  font-size: 20px;
  margin: 5px 0;
}
.innersoftware_child p {
  font-size: 16px;
}
/* SELTİFİKALARIM */

.inner_courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.child_courses {
  flex-basis: 24%;
  color: #fff;
  padding: 20px 10px;
  border: 1px solid transparent;
  transition: 0.3;
  border-radius: 5px;
}
.child_courses:hover {
  border: 1px solid #24caac;
}
.child_courses .detail {
  display: flex;
  justify-content: space-between;
}
.child_courses .detail ul {
  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
}
.child_courses .detail ul {
  color: gold;
}
/* BAŞARILAR */

.inner_achivement {
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.child_achivement {
  flex-shrink: 40%;
}
.child_achivement img {
  height: 90%;
  width: 90%;
  object-fit: cover;
}
.child_achivement2 {
  flex-basis: 156%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
}
.single_detail {
  flex-basis: 48%;
  padding: 40px 30px;
  color: #fff;
  border-radius: 5px;
  transition: 0.3;
}
.single_detail:hover {
  transform: scale(1.3);
}
.sd_1 {
  background-color: #eaa023;
  margin-bottom: 20px;
}
.sd_2 {
  background-color: #e91e63;
  margin-bottom: 20px;
}
.sd_3 {
  background-color: #24caac;
  margin-bottom: 20px;
}
.sd_4 {
  background-color: #2f363e;
  margin-bottom: 20px;
}
/* HAKKIMDA */
.inner_testi {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  color: #fff;
}
.child_testi {
  flex-basis: 46%;
  margin-bottom: 30px;
}
.testi_img {
  width: 80px;
  margin-bottom: 10px;
}
.child_testi img {
  border-radius: 50%;
}
.test_highlight {
  color: #24caac;
  margin: 10px;
}
.test_highlight:hover {
  text-decoration: underline;
}
/* İLETİŞİM */

.inner_contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}
.child_contact {
  flex-basis: 45%;
}
.child_contact form {
  padding: 50px 40px;
  background: #2f363e;
  border-radius: 5px;
}
.child_contact form input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background: #24292d;
  border: none;
  resize: none;
  border-radius: 25px;
  transition: 0.3s ease-in;
}
.child_contact form input,
textarea:focus {
  color: #fff;
}
.child_contact form input:focus {
  letter-spacing: 1px;
}
.child_contact form textarea:focus {
  letter-spacing: 1px;
}
.child_contact form input:last-child {
  margin-bottom: 0;
  background: #24cacc;
  border: 1px solid #24caac;
  transition: 0.3s;
}
.child_contact form input:last-child:hover {
  background: transparent;
  color: #fff;
}
h2 {
  margin: 18px;
}
